
header, main, section, div, footer{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 10px 20px;
    max-width: 1000px;
    font-size: 17px;
}

h1{
      background-color: white;
      width: 90%;
      margin: auto;
      padding: 10px 20px;
      max-width: 1000px;
}

h1, h2{
    text-align: center;
}

.img{
    display: flex;
    justify-content: center;

}

.data{

    margin:10px ;
    padding: 5px;
}



.caja, .contenedor{ 
    display: flex;
    justify-content: center;
}

.contenedor li{

    background-color: purple;
    height: auto;
    width: 200px;
    color: white;
    margin:20px ;
    padding: 20px;
    font-size: 18px;
    text-align: center
}
